#menu {
    margin-top: 30px;
    margin-left: 10px;
    width: 398px;
    box-shadow: 2px 2px 2px 2px #888888;
}

#menu fieldset {
    margin: 15px 15px 15px 15px;
}

#menu label {
    line-height: 30px;
    text-align: left;
}

#year_selector label {
    width: 72px;
}

#slider {
    margin: 8px 20px 0 0;
}

#auto {
    margin: 0 0 15px 15px;
}

.input-small {
    width: 60px;
}

.panel-title {
    font-size: 20px;
}

legend {
    font-size: 18px;
    margin-bottom: 15px;
}

#chart {
    margin-top: 50px;
    height: 800px;
}